<!DOCTYPE html>
<html>
  <head>
    <title>FlickrFeed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%=render_flickr_sidebar_widget('12864272@N02')%>
    <%= yield %>
  </body>
</html>
